extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href='http://www.pdf995.com/samples/pdf.pdf' style='display:block;') HTTP - pdf link
  div(id='test' style='display:block;')
  a(href='https://www.adobe.com/content/dam/acom/en/devnet/acrobat/pdfs/pdf_open_parameters.pdf' style='display:block;') HTTPS - pdf link
  a(href='./page1' style='display:block;') Page 1
  a(href='./page2' style='display:block;') Page 2
  a(href='./page3' style='display:block;') Page 3
  a(href='./page4' style='display:block;') Page 4