<rules>  
  <rule name="Cannonical" stopProcessing="true">
    <match url="(.*)" />
    <conditions logicalGrouping="MatchAny">
      <!-- HTTPS flag is Off -->
      <add input="{HTTPS}" pattern="^OFF$" />
      
      <!-- prefixed WWW -->
      <add input="{HTTP_HOST}" pattern="^www\.domain\.com$"  />      
    </conditions>
    <action type="Redirect" url="https://domain.com/{R:1}" redirectType="Temporary" />
  </rule>	
</rules>