<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings configSource="Connections.config" />
  <appSettings configSource="Keys.config" />
  
  <system.net>
    <mailSettings>
      <smtp configSource="Smtp.config" />
    </mailSettings>
  </system.net>
  
  <system.web>
    <customErrors mode="RemoteOnly" redirectMode="ResponseRedirect" defaultRedirect="~/Errors/Index">
      <error statusCode="404" redirect="~/Errors/NotFound" />
      <error statusCode="500" redirect="~/Errors/InternalError" />
    </customErrors>
    <authentication mode="Forms">
      <forms loginUrl="~/Subscription/LogIn" />
    </authentication>
    <compilation targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web> 
  
  <system.webServer>
    <rewrite>
      <rules configSource="RewriteRules.config" />
    </rewrite>   
  </system.webServer>
</configuration>