<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.webServer>
    <httpRedirect enabled="true" destination="http://maccabiherzliyaweb.rcb.co.il/" exactDestination="true" httpResponseStatus="Temporary" />
  </system.webServer>

  <!--
  <location path="">
    <system.webServer>
      <httpRedirect enabled="true" destination="http://maccabiherzliyaweb.rcb.co.il/" httpResponseStatus="Temporary" />
    </system.webServer>
  </location>
  -->
</configuration>