<AdWordsApi>
  <!--
    <add key="MaskCredentials" value="true" />
    <add key="RetryCount" value="1" />
    <add key="Timeout" value="100000" />
    <add key="EnableGzipCompression" value="true" />
    <add key="IncludeUtilitiesInUserAgent" value="true" />
  --> 
  
  <!--
    <add key="ProxyServer" value="" />
    <add key="ProxyUser" value="" /> 
    <add key="ProxyPassword" value="" />
    <add key="ProxyDomain" value="" />
  -->
    
  <!--
    <add key="SkipReportHeader" value="false" />
    <add key="SkipReportSummary" value="false" />
    <add key="SkipColumnHeader" value="false" />
  -->

  <!-- 
    <add key="IncludeZeroImpressions" value="true" /> 
    <add key="UseRawEnumValues" value="true" /> 
  -->

  <!--
    <add key="OAuth2ClientId" value="INSERT_OAUTH2_CLIENT_ID_HERE" />
    <add key="OAuth2ClientSecret" value="INSERT_OAUTH2_CLIENT_SECRET_HERE" />
    <add key="OAuth2Scope" value="INSERT_OAUTH2_SCOPE_HERE" />
    <add key="OAuth2Mode" value="APPLICATION" />
    <add key="OAuth2RefreshToken" value="INSERT_OAUTH2_REFRESH_TOKEN_HERE" />
    <add key="OAuth2RedirectUri" value="" />
  -->

  <!-- AdWords API -->
  
  <!-- QA 
  <add key="UserAgent" value="Adwords API" />
  <add key="DeveloperToken" value="xxxxxxxxxxxx" />
  <add key="ClientCustomerId" value="xxx-xxx-xxxx" />d
  -->  
  
  <!-- PROD -->
  <add key="UserAgent" value="Adwords API" />
  <add key="DeveloperToken" value="xxxxxxxxxxxx" />
  <add key="ClientCustomerId" value="xxx-xxx-xxxx" />  
  

  <!-- OAuth2 -->
  
  <!-- QA 
  <add key='AuthorizationMethod' value='OAuth2' />
  <add key='OAuth2ClientId' value='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' />
  <add key='OAuth2ClientSecret' value='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' />
  <add key='OAuth2RefreshToken' value='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' />
  -->
  
  <!-- PROD -->
  <add key='AuthorizationMethod' value='OAuth2' />
  <add key='OAuth2ClientId' value='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' />
  <add key='OAuth2ClientSecret' value='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' />
  <add key='OAuth2RefreshToken' value='xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' />
  
  
</AdWordsApi>