<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- 
      <add key="Domain" value="http://localhost:2628/" />
      <add key="Domain" value="http://rcbuilder-002-site3.ctempurl.com/" />
      <add key="Domain" value="http://mnew.co.il/" />
    -->
    <add key="Domain" value="http://mnew.co.il/" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>