USE [master]
GO
/****** Object:  Database [KeterTEST]    Script Date: 06/07/2020 23:02:04 ******/
CREATE DATABASE [KeterTEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KeterTEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.RCBUILDERSQL2012\MSSQL\DATA\KeterTEST.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KeterTEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.RCBUILDERSQL2012\MSSQL\DATA\KeterTEST_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KeterTEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KeterTEST]
GO
/****** Object:  StoredProcedure [dbo].[sp_Item_Delete]    Script Date: 06/07/2020 23:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Roby>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Item_Delete]	
	@Code INT	
AS
BEGIN
	SET NOCOUNT OFF;

    UPDATE	[dbo].[Items] 
	SET		IsDeleted = 1
	WHERE	Code = @Code

END

GO
/****** Object:  StoredProcedure [dbo].[sp_Item_Save]    Script Date: 06/07/2020 23:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Roby>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Item_Save]	
	@Code INT, 
	@Name NVARCHAR(50), 
	@Desc NVARCHAR(MAX), 
	@SaleDate DATETIME, 
	@ImageData NVARCHAR(MAX)	
AS
BEGIN
	SET NOCOUNT ON;

    IF NOT EXISTS(SELECT 1 FROM [dbo].[Items] WHERE Code = @Code)
	BEGIN 
		INSERT INTO [dbo].[Items] 
		(Name, [Desc], SaleDate, ImageData)
		VALUES
		(@Name, @Desc, @SaleDate, @ImageData)

		SET @Code = SCOPE_IDENTITY()
	END 
	ELSE 
	BEGIN 
		UPDATE	[dbo].[Items] 
		SET		Name = @Name, 
				[Desc] = @Desc, 
				SaleDate = @SaleDate, 
				ImageData = @ImageData
		WHERE	Code = @Code
	END 

	SELECT @Code AS 'RES'
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Items_Get]    Script Date: 06/07/2020 23:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Roby>
-- =============================================
CREATE PROCEDURE [dbo].[sp_Items_Get]	
AS
BEGIN
	SET NOCOUNT ON;

    SELECT	* 
	FROM	Items WITH(NOLOCK)
	WHERE	IsDeleted = 0

END

GO
/****** Object:  Table [dbo].[Items]    Script Date: 06/07/2020 23:02:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Code] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Desc] [nvarchar](max) NOT NULL,
	[SaleDate] [datetime] NOT NULL,
	[ImageData] [nvarchar](max) NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedDate] [datetime] NOT NULL,
 CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Items] ON 

SET IDENTITY_INSERT [dbo].[Items] OFF
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF_Items_Desc]  DEFAULT ('') FOR [Desc]
GO
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF_Items_SaleDate]  DEFAULT (getdate()) FOR [SaleDate]
GO
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF_Items_ImageData]  DEFAULT ('') FOR [ImageData]
GO
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF_Items_IsDeleted]  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Items] ADD  CONSTRAINT [DF_Items_CreatedDate]  DEFAULT (getdate()) FOR [CreatedDate]
GO
USE [master]
GO
