<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="VIDEOS_FOLDER" value="D:\TEMP\VideoCompress\QA\" />   
    <add key="FFMPEG_FOLDER" value="E:\Scripts\Utilities\FFmpeg\FFmpeg\" />   
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>