<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdvancedStringBuilder" version="0.1.0" targetFramework="net472" />
  <package id="bootstrap" version="3.0.0" targetFramework="net472" />
  <package id="JavaScriptEngineSwitcher.Core" version="3.3.0" targetFramework="net472" />
  <package id="JavaScriptEngineSwitcher.V8" version="3.5.5" targetFramework="net472" />
  <package id="JavaScriptEngineSwitcher.V8.Native.win-x64" version="3.5.5" targetFramework="net472" />
  <package id="jQuery" version="1.10.2" targetFramework="net472" />
  <package id="JSPool" version="4.0.0" targetFramework="net472" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Modernizr" version="2.6.2" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="React.Core" version="5.2.7" targetFramework="net472" />
  <package id="React.Web" version="5.2.7" targetFramework="net472" />
  <package id="React.Web.Mvc4" version="5.2.7" targetFramework="net472" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net472" />
</packages>
