<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="wsCredit2000Soap">
                    <security mode="Transport"/>
                </binding>
                <binding name="wsCredit2000Soap1"/>
                <binding name="wsCredit2000Soap2">
                    <security mode="Transport"/>
                </binding>
                <binding name="wsCredit2000Soap3"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.credit2000.co.il/pci_tkn_ver2/wcf/wscredit2000.asmx" binding="basicHttpBinding" bindingConfiguration="wsCredit2000Soap" contract="CreditApiProxyV2.wsCredit2000Soap" name="wsCredit2000Soap"/>
            <endpoint address="https://www.credit2000.co.il/pci_tkn_ver4/wcf/wscredit2000.asmx" binding="basicHttpBinding" bindingConfiguration="wsCredit2000Soap2" contract="CreditApiProxyV4.wsCredit2000Soap" name="wsCredit2000Soap1"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
