<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings configSource="Connections.config" />
  <appSettings>
    <!-- eExecutionMode: TEST, REPORT, LIVE -->
    <add key="MODE" value="REPORT" />
    <add key="MOVIES_FOLDER" value="E:\Projects\openbook\OpenBookProject\Website\Resources\Videos\" />
    <add key="BOOKS_FOLDER" value="E:\Projects\openbook\OpenBookProject\Website\Resources\Books\" />
    <add key="USE_BACKUP" value="1" />
    <add key="BACKUP_FOLDER" value="E:\Projects\openbook\OpenBookProject\Website\Resources\Backup\" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>