<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="AWSAccessKey" value="YOUR_ACCESS_KEY"/>
    <add key="AWSSecretKey" value="YOUR_SECRET_KEY"/>
    <add key="AWSRegion" value="us-west-2"/>

    <!-- 
        ## Redis servers ##

        127.0.0.1  // local (need to run the server first!)
        testredis-001.bdzdg9.0001.usw2.cache.amazonaws.com  // test
        mhcampus-dev.pch3iw.ng.0001.use1.cache.amazonaws.com  // dev
        mhcampus-qa.pch3iw.ng.0001.use1.cache.amazonaws.com  // qa
      -->
    
    <add key="RedisEndpoint" value="127.0.0.1"/>
    <add key="RedisPort" value="6379"/>
  </appSettings>
</configuration>
