USE [DB_A6620A_GF]
GO
/****** Object:  StoredProcedure [dbo].[sp_Report_GurFilterOEMs_Map]    Script Date: 23/04/2025 10:26:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<RcBuilder>
-- Create date: <2025-04-20>
-- Description:	<Map OEMs To Each GurFilter>
-- https://gurfilter.com/Catalogue/Oems?id=7338
-- =============================================
ALTER PROCEDURE [dbo].[sp_Report_GurFilterOEMs_Map]	
AS
BEGIN	
	SET NOCOUNT ON;
	
	/*
		SELECT * FROM GurFilters WHERE ID = 13151
		SELECT * FROM GurFilters WHERE Makat = 'C1578E'
		SELECT TOP 10 * FROM FilterConnections
		SELECT TOP 10 * FROM ManFilters
		SELECT TOP 10 * FROM Manufacturers

		SELECT	M.Name, *
		FROM	GurFilters F WITH(NOLOCK)
				INNER JOIN
				FilterConnections C WITH(NOLOCK)
				ON(F.ID = C.GurID)
				INNER JOIN
				ManFilters MF WITH(NOLOCK)
				ON(MF.ID = C.ManID)
				INNER JOIN
				Manufacturers M WITH(NOLOCK)
				ON(M.ID = MF.ManufacturerID)	
		WHERE	M.IsMakeOrOther = 1 
		AND		F.ID = 13151
		ORDER BY M.Name ASC
	*/

	SELECT	ID, Makat, t1.sOEMs, t2.sMakats
	FROM	GurFilters 
	CROSS APPLY (
		SELECT STUFF(
		(
			SELECT	',' + M.Name
			FROM	GurFilters F WITH(NOLOCK)
					INNER JOIN
					FilterConnections C WITH(NOLOCK)
					ON(F.ID = C.GurID)
					INNER JOIN
					ManFilters MF WITH(NOLOCK)
					ON(MF.ID = C.ManID)
					INNER JOIN
					Manufacturers M WITH(NOLOCK)
					ON(M.ID = MF.ManufacturerID)	
			WHERE	M.IsMakeOrOther = 1 
			AND		F.ID = GurFilters.ID
			GROUP BY ',' + M.Name
			ORDER BY  ',' + M.Name ASC
			FOR XML PATH('')
		), 1, 1, '')
	) t1(sOEMs)
	CROSS APPLY (
		SELECT STUFF(
		(
			SELECT	',' + REPLACE(MF.Makat, '"', '')
			FROM	GurFilters F WITH(NOLOCK)
					INNER JOIN
					FilterConnections C WITH(NOLOCK)
					ON(F.ID = C.GurID)
					INNER JOIN
					ManFilters MF WITH(NOLOCK)
					ON(MF.ID = C.ManID)			
					INNER JOIN
					Manufacturers M WITH(NOLOCK)
					ON(M.ID = MF.ManufacturerID)	
			WHERE	M.IsMakeOrOther = 1 			
			AND		F.ID = GurFilters.ID
			GROUP BY ',' + REPLACE(MF.Makat, '"', '')
			ORDER BY  ',' + REPLACE(MF.Makat, '"', '') ASC
			FOR XML PATH('')
		), 1, 1, '')
	) t2(sMakats)

	--WHERE ID BETWEEN 7100 AND 7500
	--WHERE ID = 7338
	--WHERE ID <> 7338
	--WHERE ID IN(7320, 7338)
	ORDER BY Makat

END
