<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnStr" value="Driver={Pervasive ODBC Client Interface};ServerName=RcBuilder-PC;dbq=MANAGER1r7627db;Client_CSet=UTF-8;Server_CSet=CP850;" />
    <add key="SrcFolder" value="E:\Projects\Creative\Documents\NIBIT\NIBIT\" />
    <add key="IsTestMode" value="1" />  
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
</configuration>